{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{template "title" .}} - Snippetbox</title>
    <link rel="stylesheet" href="/static/css/main.css">

  </head>
  <body>
    <header>
       {{block "sidebar" .}}
       <!-- This is block for demonstrating using optionly behavior 
        BLOCK for that havent implementing  
        dependence DEFINE a partial of html
        NOTE: using double curly braces into comments 
        also be parsed and invoked a error
        -->
        <h3>SIDEBAR</h3>
        {{end}}
      <h1>
        <a href="/">Snippetbox</a>
      </h1>
    </header>
    {{template "nav" .}}
    <main>{{template "main" .}}</main>
    <footer>Powered by <a href="https://golang.org">Go</a></footer>
  </body>
</html>
{{end}}
